<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assests/icons/mandala.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style42.css">
    <title>Name | Portfolio</title>
</head>
<body>
    <div class="container">
       <header class="flex justify-arnd align-cntr">
        <div class="brandLogo">
            <span>P</span>ortfolio
        </div>
        <nav>
<a href="#about" class="active">About</a>
       <a href="#project">Project</a>
      <a href="#contact">Contact</a>
      
    

        </nav>

       </header>
       <section class="flex justify-arnd">
        <div class="leftpart">
            <h2 class="title">Hi, my Name is <span>Amandeep singh</span></h2>
             <p class="desc">web Developer is core profession and its estemmed ncjdcjkkks
             kdjkuw jdncjqnc
             <br>h&m and Delhi Bazaar are my Workplaces.
.</p><br><br>
<button href="#">GITHUB</button>
<button href="#">LINKEDIN</button>
<button href="#">DOWNLOAD CV</button>

        </div>
        <div class="rightpart">

            <img src="../assests/img/profile (2).png"/>
        </div>
       </section>
       <main>
        <section class="about">
            <br>
            <h1>About</h1>/
            <div class="aboutitem">
                <div class="work">
                <h2>Web development</h2>
                <p>Need Help With Developing and Designing Lorem ipsum, dolor sit 
                    amet consectetur adipisicing elit. Velit ea in facere 
                    dolores unde aliquam fugiat perferendis modi 
                    repudiandae doloribus numquam officiis id 
                    explicabo cupiditate iste, suscipit, exercitationem sit dolore, aperiam ipsam quidem quae dignissimos eos veniam. Eaque corporis molestiae aspernatur consequuntur tenetur. 
                    Aut quo provident maxime totam dicta harum.explicabo cupiditate iste, suscipit, exercitationem sit dolore, aperiam ipsam quidem quae dignissimos eos veniam. Eaque corporis molestiae aspernatur consequuntur tenetur. 
                    Aut quo provident maxime totam dicta harum.
                </p>

            </div>
            <div class="work">
                <h2>Github</h2>
                <p>Need Help With Developing and Designing Lorem ipsum, dolor sit 
                    amet consectetur adipisicing elit. Velit ea in facere 
                    dolores unde aliquam fugiat perferendis modi 
                    repudiandae doloribus numquam officiis id 
                    explicabo cupiditate iste, suscipit, exercitationem sit dolore, aperiam ipsam quidem quae dignissimos eos veniam. Eaque corporis molestiae aspernatur consequuntur tenetur. 
                    Aut quo provident maxime totam dicta harum.explicabo cupiditate iste, suscipit, exercitationem sit dolore, aperiam ipsam quidem quae dignissimos eos veniam. Eaque corporis molestiae aspernatur consequuntur tenetur. 
                    Aut quo provident maxime totam dicta harum.
                </p>
            </div>
            <div class="work">
                <h2>Webflow and Setup</h2>
                <p>Need Help With Developing and Designing Lorem ipsum, dolor sit 
                    amet consectetur adipisicing elit. Velit ea in facere 
                    dolores unde aliquam fugiat perferendis modi 
                    repudiandae doloribus numquam officiis id 
                    explicabo cupiditate iste, suscipit, exercitationem sit dolore, aperiam ipsam quidem quae dignissimos eos veniam. Eaque corporis molestiae aspernatur consequuntur tenetur. 
                    Aut quo provident maxime totam dicta harum.explicabo cupiditate iste, suscipit, exercitationem sit dolore, aperiam ipsam quidem quae dignissimos eos veniam. Eaque corporis molestiae aspernatur consequuntur tenetur. 
                    Aut quo provident maxime totam dicta harum.
                </p>
            </div>
            

            </div>
         
        </section>
        <div id="skill">
        <h1>Skills</h1>
        
        </div>
        <div class="skills">

        <img src="../assests/img/image 29.png" alt="html" class="skill-item">
        <img src="../assests/img/image 30.png" alt="css" class="skill-item">
        <img src="../assests/img/image 35.png" alt="javascript" class="skill-item">
        <img src="../assests/img/image 37.png" alt="react" class="skill-item">
        <img src="../assests/img/redux-icon.png" alt="redux" class="skill-item">
        <img src="../assests/img/image 33.png" alt="django" class="skill-item">
        <img src="../assests/img/Vector.png" alt="express" class="skill-item">
        <img src="../assests/img/aws.png" alt="aws" class="skill-item">
        <img src="../assests/img/image 46.png" alt="docker" class="skill-item">

            </div>
        </div>
        </div>
        <div id="project">


            <h1>Project Newton-School</h1>


            <img src="https://img.freepik.com/free-photo/rpa-concept-with-blurry-hand-touching-screen_23-2149311914.jpg?w=1060&t=st=1690284786~exp=1690285386~hmac=4dbc5bdf8e048c6b29489063bdd802a91203de49d57a4de3750539730f3346ee" alt="tech" class="tech">
            <img src="https://img.freepik.com/free-photo/medium-shot-man-wearing-vr-glasses_23-2149126949.jpg?w=1380&t=st=1690285191~exp=1690285791~hmac=818814d94a64e330d890a9ca1b828c3ddeddb5278b12487de35af3527e4bb1fb" alt="tech1" class="tech1">
            <img src="https://img.freepik.com/free-photo/ai-nuclear-energy-background-future-innovation-disruptive-technology_53876-129783.jpg?w=1060&t=st=1690285259~exp=1690285859~hmac=fafa706e6c7d6b6df5982e9d7877af160beed355a8ad3b3f078195b3f0fcbb3d" alt="tech2" class="tech1">
            <img src="https://img.freepik.com/free-photo/cloud-technology-with-futuristic-hologram-smartwatch_53876-124625.jpg?t=st=1690210818~exp=1690211418~hmac=40ccaa71c3a97dbf04454bfaa82c6dee70ee4874567832bd651af41cd5668d6b" alt="tech3" class="tech1">
        </div>
        

       </main>
       <footer id="contact">
        <h1>Interested In Profile!</h1>
        <p>You can reach me at: <a id="email"
        href="http://mail.google.com/mail/u/0/?ogbl#inbox" target="_blank">asaman45@gmail.com</a></p>

        <div class="social-icons">
        <a href="#"><img src="../assests/img/github.png" alt="github" class="git"></a>
        <a href="#"><img src="../assests/img/linkedin.png" alt="linkedin" class="link"></a>
       
        
        </div>
        <p id="copy">Amandeep Portfolio &copy; 2022 All Rights Reserved</p>






       </footer>




    </div>
</body>
</html>